MyTestProject/src/main/resources/wsdl/VenueRequirmentChecker.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soapy1" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soapy1" xmlns:intf="http://soapy1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soapy1" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="checkVenueMeetsRequirments">
    <complexType>
     <sequence>
      <element name="venueRequirements" type="impl:VenueRequirements"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="VenueRequirements">
    <sequence>
     <element name="nameOfVenue" type="xsd:string"/>
     <element name="expectedNumberAttendees" type="xsd:int"/>
     <element name="largeScreenNeeded" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <element name="checkVenueMeetsRequirmentsResponse">
    <complexType>
     <sequence>
      <element name="checkVenueMeetsRequirmentsReturn" type="impl:VenueRequirementsResponse"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="VenueRequirementsResponse">
    <sequence>
     <element name="responseCode" nillable="true" type="xsd:string"/>
     <element name="responseCodeExplanation" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkVenueMeetsRequirmentsResponse">

      <wsdl:part element="impl:checkVenueMeetsRequirmentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkVenueMeetsRequirmentsRequest">

      <wsdl:part element="impl:checkVenueMeetsRequirments" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="VenueRequirmentChecker">

      <wsdl:operation name="checkVenueMeetsRequirments">

         <wsdl:input message="impl:checkVenueMeetsRequirmentsRequest" name="checkVenueMeetsRequirmentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkVenueMeetsRequirmentsResponse" name="checkVenueMeetsRequirmentsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="VenueRequirmentCheckerSoapBinding" type="impl:VenueRequirmentChecker">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="checkVenueMeetsRequirments">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkVenueMeetsRequirmentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkVenueMeetsRequirmentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="VenueRequirmentCheckerService">

      <wsdl:port binding="impl:VenueRequirmentCheckerSoapBinding" name="VenueRequirmentChecker">

         <wsdlsoap:address location="http://tempuri.org/SOAPY/services/VenueRequirmentChecker"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
